{% extends 'base.html' %}

{% block content %}
<hr>
<a href="{% url 'add_book' %}"><button>Add New Book</button></a>

  <h1>Book List</h1>
  <form action="{% url 'search' %}" method="get">
    <input type="text" name="q" placeholder="Search by title or author...">
    <button type="submit">Search</button>
  </form>
  <ul>
    {% for book in books %}
      <li><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a> by {{ book.author }} (published on {{ book.published_date }})</li>
    {% empty %}
      <li>No books found.</li>
    {% endfor %}
  </ul>
{% endblock %}
